.header-bg {
  background: #0f0f0f;
  max-width: 1920px;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-sizing: border-box;
  height: 56px;
}

.navbar .logo {
  display: flex;
  align-items: center;
  color: white;
  gap: 0.5rem;
  padding: 18px 14px 18px 16px;
  box-sizing: border-box;
}

.navbar .logo img {
  width: 93px;
  height: 40px;
}

.navbar .pesquisa {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.navbar .pesquisa ul {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.navbar .pesquisa li {
  display: flex;
  align-items: center;
  background: #303030;
  height: 40px;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.pesquisa li:nth-child(1) {
  border-radius: 0 10px 10px 0;
  padding: 0.5rem;
}

.pesquisa li:nth-child(2) {
  border-radius: 50%;
  padding: 0.5rem;
}

.navbar input {
  width: 536px;
  height: 40px;
  padding: 0 4px 0 16px;
  background: #0f0f0f;
  border: 1px solid #c6c6c63b;
  margin-left: 32px;
  display: flex;
  flex: 1;
  border-radius: 40px 0 0 40px;
  cursor: text;
}

.navbar .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 0.5rem;
}
