body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
  background-color: #fef9ef;
}


header{
  background-image:url('assents/bg.png');
  background-size: cover;
  width: 100%;
  height: 320px;
  display: flex;
  padding: 10px;
}

header{
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
font-size: 20px;
}

.card_header{
  margin: auto;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1px;
  flex-flow: column nowrap;
  text-align: center;
}

.card_header img{
  margin: 0;
  width: 60%;
  height: 60%;
 
  align-self: center;
  box-sizing: border-box;
  border-radius: 50%;
}

header .card_header span{
  background-color:#54cc0a;
  border-radius: 4px;
  width: 80%;
  height: 12%;
  line-height: 40px;
  margin: auto ;
}


main,.cardpai,.cards,.cards_body,.cards_footer{
  display: flex;
}
main{
  margin: 0;
  width: 90%;
  flex-flow: column wrap;
  justify-content: space-evenly;
  padding: 20px;
  color: black;
}

main{
box-shadow: 3px 1px 3px 1px #f94144;
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
border-radius: 10px;

}

h1,h2{
  width: 100%;
  margin: 2% auto;
  text-align: center;
  font-size: 40px;
}

.cardpai{
 
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 3% auto;
  width: 100%;
 height: auto;
}

.cards{
 
  flex-flow: row nowrap;
  box-sizing: border-box;
  margin: 2% auto;
  width: 50%;
  height: auto;
  padding: 22px;
  
}

.cards{
  box-shadow: 0 2px 2px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2px );
-webkit-backdrop-filter: blur( 2px );
border-radius: 10px;
}

.cards:hover{
  box-shadow: 1px 1px 1px 1px #f94144 ;
}


.cards_header .imagemcards{
  width: 100%;
  height: 200px;
}

.cards .cards_body{
  margin: auto ;
  width: 60%;
  height: 95%;
  flex-direction: column;
  justify-content: space-between;
}

.cards .cards_body h2{
 text-align: center;
}

.cards .cards_body .cards_footer{
  font-size: 27px;
  margin: 2px 5%;
  flex-direction: row;
  justify-content: space-around;
}

.cards_footer button{
  width: 18%;
  height: 100%;
  background-color: rgb(78, 75, 75);
  color: rgba(255, 255, 255, 0.808);
  font-size: 26px;
}

.cards_footer button:hover{
  background-color:#f94144;

}

footer{
  width: 100%;
  height: 38px;
  position: fixed;
  text-align: center;
  z-index: 0;
  bottom: 0;
  margin: auto;
}


footer button{
  text-decoration: none;
  color: aliceblue;
  font: 30px arial bolder;
  background-color:#ff3131 ;
  width: 100%;
  box-sizing: border-box;
}

footer button{
  background:#ff3131d8;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
}

footer button:hover{
  background-color: #90a955;
}
/* criando o carrinho visualização*/



.carrinhopai{
  background-color: rgba(0, 0, 0, 0.541);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
  align-items: center;
  justify-content: center;
 
}

.carrinhofilho{
  background-color: beige;
  padding: 5px;
  border-radius:10px;
  color: black;
  min-width: 60%;
  
}

.carrinhofilho .carrinhoneto{
  margin: auto;
  display: flex;
  background-color:#adb5bd;
  padding: 5px;
  border-radius:10px;
  color: black;
  width: 100%;
  flex-flow: column nowrap;
  box-sizing: border-box;
}

.carrinhoneto span,input{
  font-weight: bolder;
}
.carrinhoneto input{
  margin: auto;
  box-sizing: border-box;
  display: flex;
  width: 95%;
  height: 40px;
  justify-content: center;
}

.carrinhoneto .pedir{
  display: flex;
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  flex-direction: row;
  justify-content: space-between;
}

.carrinhoneto button{
  background: #77828a;
  background-image: -webkit-linear-gradient(top, #77828a, #2b3840);
  background-image: -moz-linear-gradient(top, #77828a, #2b3840);
  background-image: -ms-linear-gradient(top, #77828a, #2b3840);
  background-image: -o-linear-gradient(top, #77828a, #2b3840);
  background-image: linear-gradient(to bottom, #77828a, #2b3840);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Courier New;
  color: #ffffff;
  text-decoration: none;
  font-weight: bolder;
}

.carrinhoneto button:hover {
  background: #f94144;
  text-decoration: none;
}